/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap");

:root {
  /* Text Colors */
  --primary-text-color: #ffffff;
  --secondary-text-color: #222222;
  --section-heading-text-color: #552fff;

  /* Background Colors */
  --background-color: #efefef;
  --footer-color: #552fff;

  /* Button Color */
  --hue: 245;
  --first-color: hsl(var(--hue), 90%, 60%);
  --first-color-alt: hsl(var(--hue), 82%, 56%);
  --white-color: hsl(0, 0%, 100%);

  /* Font */
  /* --font-family: "Poppins", sans-serif; */
  --primary-font-family: "Hind Siliguri", sans-serif;
  /* --primary-font-family: "Montserrat", sans-serif; */
  --secondary-font-family: "Lato", sans-serif;

  /* Font Size */
  /* --primary-font: 1.5rem;
  --secondary-font: 1.25rem;
  --secondary-font-tablet: 1.2rem;
  --secondary-font-mobile: 1.25rem;
  --hero-primary-font: 4.5rem;
  --hero-primary-font-tablet: 4rem;
  --hero-primary-font-mobile: 2.5rem;
  --hero-secondary-font: 2rem;
  --social-link-font: 1.75rem; */
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--primary-font-family);
}

body {
  background-color: var(--background-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

footer ul {
  padding-left: 0rem;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

footer a {
  color: var(--secondary-text-color);
}

input,
.form-select {
  font-family: var(--secondary-font-family);
  font-size: 0.875rem !important;
}

.c-m-r {
  margin-right: 10px;
  font-size: 1rem;
}

.c-m-b {
  margin-bottom: 1rem;
}

.s-t br {
  content: "\00a0"; /* Unicode non-breaking space */
  display: block;
  margin-top: 0.75em; /* Adjust the value to control the space after the line break */
}

/* Multi Step Form Css */
#heading {
  text-transform: uppercase;
  color: #673ab7;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: center;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: px solid #673ab7;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #673ab7;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #311b92;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #673ab7;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #673ab7;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #673ab7;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #673ab7;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #673ab7;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

/* Multi Step Form CSS Ends */

@media screen and (max-width: 768px) {
  .c-m-b {
    margin-bottom: 0;
  }
}
